@charset "utf-8";

.awtCanvas1 {
	display: block;
	position: fixed;
	width: 1024px;
	height: 576px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	top: 0pt;
	bottom: 0px;
}

.awtBackground {
	display: block;
	position: fixed;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	top: 0pt;
	bottom: 0px;
	padding-top: auto;
	padding-right: auto;
	padding-bottom: auto;
	padding-left: auto;
}

/*.awtCanvas2 {
	display: block;
	position: fixed;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	top: 0pt;
	bottom: 0px;
	pointer-events: none;
}*/


.awtGameCanvas {
	display: block;
	position: fixed;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	top: 0pt;
	bottom: 0px;
	padding-top: auto;
	padding-right: auto;
	padding-bottom: auto;
	padding-left: auto;
}



  #gameContainer {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: auto;
	padding-right: auto;
	padding-bottom: auto;
	padding-left: auto;
	top: 0pt;
	bottom: 0px;
	  }
	

  /* /////////////////////////////////////////////////////////////////////////////////// */

  *, *:before, *:after {
box-sizing: inherit;
  }

  :root {
	--background2: #E5FFB3;
	--background-accent2: #DBF8A3;
	--background-accent-22: #BDE66E;
	--light2: #92DE34;
	--dark2: #69BC22;
	--text2: #025600;
  }


  /* /////////////////// */


  
/**************SVG****************/


/* SVG animations */


  /* ///////////////////////////////////////////////// */


  /* /////////////////////////////////////////// */


